# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
branca>=0.4.2
certifi>=2020.6.20
charset-normalizer>=2.0.9
click>=8.0.3
flask>=2.0.2
folium>=0.12.1.post1
idna>=3.3
importlib-metadata>=4.8.3
itsdangerous>=2.0.1
jinja2>=3.0.3
markupsafe>=2.0.1
numpy>=1.19.5
pip>=21.2.2
requests>=2.26.0
setuptools>=58.0.4
typing-extensions>=4.0.1
urllib3>=1.26.7
vc>=14.2
werkzeug>=2.0.2
wheel>=0.37.0
wincertstore>=0.2
zipp>=3.6.0
