{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Get weather for your route:{% endblock %}</h1>
    <p>NOTE - NWS API is unavailable until at least 1/1/2024. Check if this page is functioning: https://api.weather.gov/gridpoints/TOP/31,80/forecast</p>
    <form method="post">
        <label for="start_zip">Start Zip Code</label>
        <br>
        <input type="text" name="start_zip_code"
               placeholder="12345"
               value="{{ request.form['start_zip_code'] }}"></input>
        <br>

        <label for="end_zip_code">End Zip Code</label>
        <br>
        <input type="text" name="end_zip_code"
               placeholder="54321"
               value="{{ request.form['end_zip_code'] }}"></input>
        <br>

        <label for="delay">Depart Delay (hours)</label>
        <br>
        <input type="text" name="delay"
               placeholder="0 For no Delay"
               value="{{ request.form['delay'] }}"></input>
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}